.App {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: space-between;
  flex: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.Text-Input {
  display: flex;
}

.Entered-Word-List {
  background-color: aliceblue;
  border-radius: 2%;
  word-wrap: normal;
  margin: 10px;
  padding: 10px;
  min-width:50vw;
}

.Entered-Word {
  display: flex;
  justify-content: center;
}


.Hint-Box-List {
  background-color: #fff;
  border:#282c34;
  border-style: solid;
  border-width: 10px;
}
.Hint-Box-Container {
  padding:3vh;
}
.Hint-Box-Subtitle {
}
.Hint-Box {
}

.AutosuggestWrapper {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
